.numberContainer {
    width: 380px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.numberButton {
    height: 90px;
    width: 90px;
    background-color: #003C76;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    margin-right: 30px;
    margin-bottom: 15px;
}

.numberZeroButton {
    height: 90px;
    width: 220px;
    background-color: #003C76;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    margin-right: 30px;
    margin-bottom: 15px;
}