.specialContainer {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    margin-bottom: 15px;
}

.specialButton {
    height: 90px;
    width: 90px;
    background-color: #0061AD;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    box-shadow: 0 8px 4px -2px #000000CC;
}